.App {
  text-align: center;
}

.navBar {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  background-color: rgb(50, 138, 128);
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: rgb(175, 175, 175);
  align-items: center;
  min-height: 40px;
  padding-left: 25px;
  font-size: large;
}

.all-adv {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.adv {
  align-items: center;
  border-style: solid;
  border-width: 4px;
  border-color: rgb(50, 138, 128);
  border-radius: 10px;
  margin: 10px;
  height: 350px;
}

.adv-body {
  text-align: center;
}
.adv-img-top {
  border-radius: 10px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  width: 200px;
  height: 150px;
}

.adv-btn-save {
  border-color: rgb(50, 138, 128);
  color: rgb(50, 138, 128);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 3px;
  border-width: 2px;
}

.adv-btn-remove {
  background-color: rgb(50, 138, 128);
  border-color: white;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 3px;
  border-width: 0px;
}

a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
}

.saved-container {
}

.saved-adv {
  display: flex;
}

h1 {
  margin-left: 20px;
  color: rgb(50, 138, 128);
}

.adv-num {
  margin-left: 5px;
  color: rgb(50, 138, 128);
  background-color: whitesmoke;
  padding-left: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 3px;
  border-radius: 2px;
}
